.about-me{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 55px;
    color: #FFF;
    position: relative;
}
.topSide{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 25px;
    >img{
        width: 275px;
    }
    >.text-side{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 5px;
        position: relative;
    }
}
.profession{
    font-size: 12px;
}
.heading{
    font-size: 32px;
}
.violet{
    color:#7127BA ;
}
.oval{
    position: absolute;
    left: 137px;
    top: 25px;
    transform: rotate(-7deg);
    width: 135px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid gray;
}
.mentioned{
    font-size: 8px;
    font-style: italic;
}
.memoji{
    filter: drop-shadow(0 0 80px #7127BA);
}
.circle{
    position: absolute;
    top: -2px;
    left: 0;
    width: 275px;
    height: 275px;
    border-radius: 50%;
    // background-color: #FFC300;
    background-color: #00F5A0;
    z-index: -1;
}
@keyframes neonPulse {
    0% {
        text-shadow: 0 0 3px #00F5A0, 0 0 8px #00F5A0, 0 0 12px #00F5A0, 0 0 18px #00F5A0;
    }
    50% {
        text-shadow: 0 0 4px #00F5A0, 0 0 10px #00F5A0, 0 0 15px #00F5A0, 0 0 22px #7127BA;
    }
    100% {
        text-shadow: 0 0 3px #00F5A0, 0 0 8px #00F5A0, 0 0 12px #00F5A0, 0 0 18px #00F5A0;
    }
}
  
.glow {
    color: #00F5A0;
    animation: neonPulse 2s infinite ease-in-out;
}
.centerSide{
    width: 100%;
    display: flex;
    flex-direction: column;
    >h2{
        font-size: 44px;
    }
}
.company{
    color:#0092c7;
    // font-style: italic;
    >img{
        width: 14px;
    }
}
.arrow, .name{
    position: absolute;
}
.arrow{
    left: 20%;
    top: -10%;
}
.name{
    left: 29.5%;
    top: -6%;
}
.bottomSide{
    width:900px ;
    >p{
        font-size: 15px;
        line-height: 1.7;
    }
}