.about-me{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 55px;
    color: #FFF;
}
.topSide{
    display: flex;
    justify-content: center;
    align-items: center;
    >img{
        width: 275px;
        box-shadow: 0 0 10px 5px #7127BA;
    }
    >.text-side{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 5px;
        position: relative;
    }
}
.profession{
    font-size: 12px;
}
.heading{
    font-size: 32px;
}
.violet{
    color:#7127BA ;
}
.oval{
    position: absolute;
    left: 137px;
    top: 25px;
    transform: rotate(-7deg);
    width: 135px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid gray;
}
.mentioned{
    font-size: 8px;
    font-style: italic;
}