@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Preahvihear&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shadows+Into+Light&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
header{
    background-color:#1A0B2E;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.innerLinks{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    >h1{
        font-family: "Roboto Serif", serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style:italic;
        font-variation-settings:
          "wdth" 100,
          "GRAD" 0;
    }
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    >li a{
        cursor: pointer;
        color: #FFFFFF;
        &:hover{
            color: #FFD700;
        }
    }
}


@keyframes lights1 {
    0% {
        filter: drop-shadow(0 0 1em hsla(320, 100%, 50%, 0.2))
                drop-shadow(0 0 0.125em hsla(320, 100%, 60%, 0.3))
                drop-shadow(-1em -0.125em 0.5em hsla(40, 100%, 60%, 0))
                drop-shadow(1em 0.125em 0.5em hsla(200, 100%, 60%, 0));
    }
    30% {
        filter: drop-shadow(0 0 1em hsla(320, 100%, 50%, 0.5))
                drop-shadow(0 0 0.125em hsla(320, 100%, 60%, 0.5))
                drop-shadow(-0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2))
                drop-shadow(0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4));
    }
    40% {
        filter: drop-shadow(0 0 1em hsla(320, 100%, 50%, 0.5))
                drop-shadow(0 0 0.125em hsla(320, 100%, 60%, 0.5))
                drop-shadow(-0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2))
                drop-shadow(0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4));
    }
    70% {
        filter: drop-shadow(0 0 1em hsla(320, 100%, 50%, 0.5))
                drop-shadow(0 0 0.125em hsla(320, 100%, 60%, 0.5))
                drop-shadow(0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2))
                drop-shadow(-0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4));
    }
    100% {
        filter: drop-shadow(0 0 1em hsla(320, 100%, 50%, 0.2))
                drop-shadow(0 0 0.125em hsla(320, 100%, 60%, 0.3))
                drop-shadow(1em -0.125em 0.5em hsla(40, 100%, 60%, 0))
                drop-shadow(-1em 0.125em 0.5em hsla(200, 100%, 60%, 0));
    }
}

@keyframes lights2 {
    0% {
        filter: drop-shadow(0 0 1em hsla(120, 100%, 50%, 0.2))
                drop-shadow(0 0 0.125em hsla(120, 100%, 60%, 0.3))
                drop-shadow(-1em -0.125em 0.5em hsla(60, 100%, 60%, 0))
                drop-shadow(1em 0.125em 0.5em hsla(240, 100%, 60%, 0));
    }
    30% {
        filter: drop-shadow(0 0 1em hsla(120, 100%, 50%, 0.5))
                drop-shadow(0 0 0.125em hsla(120, 100%, 60%, 0.5))
                drop-shadow(-0.5em -0.125em 0.25em hsla(60, 100%, 60%, 0.2))
                drop-shadow(0.5em 0.125em 0.25em hsla(240, 100%, 60%, 0.4));
    }
    40% {
        filter: drop-shadow(0 0 1em hsla(120, 100%, 50%, 0.5))
                drop-shadow(0 0 0.125em hsla(120, 100%, 60%, 0.5))
                drop-shadow(-0.25em -0.125em 0.125em hsla(60, 100%, 60%, 0.2))
                drop-shadow(0.25em 0.125em 0.125em hsla(240, 100%, 60%, 0.4));
    }
    70% {
        filter: drop-shadow(0 0 1em hsla(120, 100%, 50%, 0.5))
                drop-shadow(0 0 0.125em hsla(120, 100%, 60%, 0.5))
                drop-shadow(0.5em -0.125em 0.25em hsla(60, 100%, 60%, 0.2))
                drop-shadow(-0.5em 0.125em 0.25em hsla(240, 100%, 60%, 0.4));
    }
    100% {
        filter: drop-shadow(0 0 1em hsla(120, 100%, 50%, 0.2))
                drop-shadow(0 0 0.125em hsla(120, 100%, 60%, 0.3))
                drop-shadow(1em -0.125em 0.5em hsla(60, 100%, 60%, 0))
                drop-shadow(-1em 0.125em 0.5em hsla(240, 100%, 60%, 0));
    }
}

@keyframes lights3 {
    0% {
        filter: drop-shadow(0 0 1em hsla(220, 100%, 50%, 0.2))
                drop-shadow(0 0 0.125em hsla(220, 100%, 60%, 0.3))
                drop-shadow(-1em -0.125em 0.5em hsla(80, 100%, 60%, 0))
                drop-shadow(1em 0.125em 0.5em hsla(280, 100%, 60%, 0));
    }
    30% {
        filter: drop-shadow(0 0 1em hsla(220, 100%, 50%, 0.5))
                drop-shadow(0 0 0.125em hsla(220, 100%, 60%, 0.5))
                drop-shadow(-0.5em -0.125em 0.25em hsla(80, 100%, 60%, 0.2))
                drop-shadow(0.5em 0.125em 0.25em hsla(280, 100%, 60%, 0.4));
    }
    40% {
        filter: drop-shadow(0 0 1em hsla(220, 100%, 50%, 0.5))
                drop-shadow(0 0 0.125em hsla(220, 100%, 60%, 0.5))
                drop-shadow(-0.25em -0.125em 0.125em hsla(80, 100%, 60%, 0.2))
                drop-shadow(0.25em 0.125em 0.125em hsla(280, 100%, 60%, 0.4));
    }
    70% {
        filter: drop-shadow(0 0 1em hsla(220, 100%, 50%, 0.5))
                drop-shadow(0 0 0.125em hsla(220, 100%, 60%, 0.5))
                drop-shadow(0.5em -0.125em 0.25em hsla(80, 100%, 60%, 0.2))
                drop-shadow(-0.5em 0.125em 0.25em hsla(280, 100%, 60%, 0.4));
    }
    100% {
        filter: drop-shadow(0 0 1em hsla(220, 100%, 50%, 0.2))
                drop-shadow(0 0 0.125em hsla(220, 100%, 60%, 0.3))
                drop-shadow(1em -0.125em 0.5em hsla(80, 100%, 60%, 0))
                drop-shadow(-1em 0.125em 0.5em hsla(280, 100%, 60%, 0));
    }
}

@keyframes lights4 {
    0% {
        filter: drop-shadow(0 0 1em hsla(420, 100%, 50%, 0.2))
                drop-shadow(0 0 0.125em hsla(420, 100%, 60%, 0.3))
                drop-shadow(-1em -0.125em 0.5em hsla(140, 100%, 60%, 0))
                drop-shadow(1em 0.125em 0.5em hsla(380, 100%, 60%, 0));
    }
    30% {
        filter: drop-shadow(0 0 1em hsla(420, 100%, 50%, 0.5))
                drop-shadow(0 0 0.125em hsla(420, 100%, 60%, 0.5))
                drop-shadow(-0.5em -0.125em 0.25em hsla(140, 100%, 60%, 0.2))
                drop-shadow(0.5em 0.125em 0.25em hsla(380, 100%, 60%, 0.4));
    }
    40% {
        filter: drop-shadow(0 0 1em hsla(420, 100%, 50%, 0.5))
                drop-shadow(0 0 0.125em hsla(420, 100%, 60%, 0.5))
                drop-shadow(-0.25em -0.125em 0.125em hsla(140, 100%, 60%, 0.2))
                drop-shadow(0.25em 0.125em 0.125em hsla(380, 100%, 60%, 0.4));
    }
    70% {
        filter: drop-shadow(0 0 1em hsla(420, 100%, 50%, 0.5))
                drop-shadow(0 0 0.125em hsla(420, 100%, 60%, 0.5))
                drop-shadow(0.5em -0.125em 0.25em hsla(140, 100%, 60%, 0.2))
                drop-shadow(-0.5em 0.125em 0.25em hsla(380, 100%, 60%, 0.4));
    }
    100% {
        filter: drop-shadow(0 0 1em hsla(420, 100%, 50%, 0.2))
                drop-shadow(0 0 0.125em hsla(420, 100%, 60%, 0.3))
                drop-shadow(1em -0.125em 0.5em hsla(140, 100%, 60%, 0))
                drop-shadow(-1em 0.125em 0.5em hsla(380, 100%, 60%, 0));
    }
}

@keyframes lights5 {
    0% {
        filter: drop-shadow(0 0 1em hsla(520, 100%, 50%, 0.2))
                drop-shadow(0 0 0.125em hsla(520, 100%, 60%, 0.3))
                drop-shadow(-1em -0.125em 0.5em hsla(180, 100%, 60%, 0))
                drop-shadow(1em 0.125em 0.5em hsla(480, 100%, 60%, 0));
    }
    30% {
        filter: drop-shadow(0 0 1em hsla(520, 100%, 50%, 0.5))
                drop-shadow(0 0 0.125em hsla(520, 100%, 60%, 0.5))
                drop-shadow(-0.5em -0.125em 0.25em hsla(180, 100%, 60%, 0.2))
                drop-shadow(0.5em 0.125em 0.25em hsla(480, 100%, 60%, 0.4));
    }
    40% {
        filter: drop-shadow(0 0 1em hsla(520, 100%, 50%, 0.5))
                drop-shadow(0 0 0.125em hsla(520, 100%, 60%, 0.5))
                drop-shadow(-0.25em -0.125em 0.125em hsla(180, 100%, 60%, 0.2))
                drop-shadow(0.25em 0.125em 0.125em hsla(480, 100%, 60%, 0.4));
    }
    70% {
        filter: drop-shadow(0 0 1em hsla(520, 100%, 50%, 0.5))
                drop-shadow(0 0 0.125em hsla(520, 100%, 60%, 0.5))
                drop-shadow(0.5em -0.125em 0.25em hsla(180, 100%, 60%, 0.2))
                drop-shadow(-0.5em 0.125em 0.25em hsla(480, 100%, 60%, 0.4));
    }
    100% {
        filter: drop-shadow(0 0 1em hsla(520, 100%, 50%, 0.2))
                drop-shadow(0 0 0.125em hsla(520, 100%, 60%, 0.3))
                drop-shadow(1em -0.125em 0.5em hsla(180, 100%, 60%, 0))
                drop-shadow(-1em 0.125em 0.5em hsla(480, 100%, 60%, 0));
    }
}
.ghHeader{
    filter: drop-shadow(0 0 60px #7127BA);
}
